body {
    background-color: #24252A;
}
div.undertale img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale:hover img{
    margin-top: -20px;
}
div.undertale1 img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale1:hover img{
    margin-top: -20px;
}
div.undertale2 img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale2:hover img{
    margin-top: -20px;
}
div.undertale3 img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale3:hover img{
    margin-top: -20px;
}
div.undertale4 img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale4:hover img{
    margin-top: -20px;
}
div.undertale5 img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale5:hover img{
    margin-top: -20px;
}
div.undertale6 img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale6:hover img{
    margin-top: -20px;
}
div.undertale7 img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale7:hover img{
    margin-top: -20px;
}
div.undertale8 img{
    border-radius: 25px;
    padding: 10px;
}
div.undertale8:hover img{
    margin-top: -20px;
}