@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 120px;
}

.nav_liens {
    list-style: none;
}

.nav_liens li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_liens li a {
    transition: all 0.3s ease 0s;
}

.nav_liens li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: yes;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}


header.bvn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding-left: 40%;
    margin-top: 10px;
}

header.bvn2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;
    padding-left: 38%;
    margin-top: -27px;
}


.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button.noselect {
    margin-top: 60px;
    margin-left: 46%;
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
	font-family: 'Comfortaa', cursive;
	color: rgba(255,255,255,0.5);
	font-size: 20px;
	border-radius: 4px;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
	background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
	background-size: 150%;
	background-position: right;
	transition: 1s;
}

button.noselect:hover {
	background-position: left;
	color: white;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

button.noselect:focus {
	outline: none;
}

